*{
    margin: 0;
    padding: 0;
}

     #title{
      
        font-style: italic;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    } 


   .nav li{
        margin: 2px;
    } 

body{
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100%;
    width: 100%;
}

h6{
    text-align: center;
    color: white;
    padding: 8px;
}

.maindescription{
    text-align: justify;
    margin-left: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


.signinform{
    margin-left: 20px;
    padding: 25px;
    font-style: italic;
    font-weight: bold;
}


 .signinform h1{
    margin-left: 28%;
}


.signcard{
    float: right;
    margin-top: 8%;
    margin-left: 30%;
}
.signcard a:hover{
    color: white;
    background-color: teal;

}
.signcard p{
    text-align: justify;
    font-family: sans-serif;
}

.signfooter{
    
    background-color:whitesmoke;
    margin-top: 20px;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 10px;
}


/* login page */
.loginform{
    float: right;
    padding: 20px;
    margin-right: 19%;
    margin-top: 3%;
    font-family: 'Times New Roman', Times, serif;
    background-color:LightBlue;
    color:black;
    border: 2px solid black;
    border-radius: 25px;

}

#checkmeter{
    width:80%;
}

.input{
    margin: 15px;
}


.loginform h2{
    text-align: center;
}

form .text.weak{
color: red;
cursor:pointer;
border: 1px solid red;
width: 79.5%;
border-radius: 10px;
padding: 2px;
}

form .text.medium{
color: orange;
cursor: pointer;
border: 1px solid orange;
border-radius: 10px;
padding: 2px;
width: 79.5%;
}
form .text.strong{
color: green;
cursor: pointer;
border: 1px solid green;
border-radius: 10px;
padding: 2px;
width: 79.5%;
}

#error1{
    border: 1px solid red;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

#error2{
    border: 1px solid red;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}


.loginform a{
    text-decoration: none;
}

.loginform a:hover{
    color: brown;
}

.loginform button{
    padding: 3px;
    width: 60pt;
    
}

.loginform button:hover{
    background-color: blue;
    color:white;
}


.logincard{
    margin-top: 26.5%;
    margin-left: 5px;
}

.logincard p{
    text-align: justify;
    font-family: sans-serif;
}
.logincard a:hover{
    color: white;
    background-color: teal;
}

.loginfooter p{

    background-color:whitesmoke;
    margin-top: 20px;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 10px;

    
}

/* Home page */

.mymargin{
    margin-left: 25px; 
    padding: 8px;
    border: 2px solid black;
    text-align: justify;
    margin-top: 10px;
}

.mymargin h3{
    text-align: center;
    font-style: italic;
    font-family: cursive;
    text-transform: uppercase;
    
}

.mymargin li{ 
    margin-right: 1%;
    text-align: justify;
    position: relative;
    
}


.homefooter p{
    margin: 20px;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h1{
    text-align: center;
    font-weight: bold;
}